copaco/tests/
tests/
copaco/__pycache__/
__pycache__/
copaco/cache/*
!copaco/cache/__init__.py
dist/
copaco/temp/*
!copaco/temp/.silence
!copaco/temp/__init__.py
Pipfile.lock
python_copaco_connections.egg-info/*